certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cvxpy==1.1.8
Cython==0.29.21
dill==0.3.3
ecos==2.0.7.post1
fastcache==1.1.0
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
idna==2.10
imbalanced-learn==0.7.0
imblearn==0.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
MarkupSafe==1.1.1
metric-learn==0.6.2
multiprocess==0.70.11.1
natsort==7.1.1
numpy==1.20.0
osqp==0.6.2.post0
pandas==1.2.1
patsy==0.5.1
Pillow==8.1.0
pymongo==3.11.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
qdldl==0.1.5.post0
quadprog==0.1.8
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
scs==2.1.2
six==1.15.0
soupsieve==2.1
statsmodels==0.12.1
threadpoolctl==2.1.0
toolz==0.11.1
torch==1.7.1
torchvision==0.2.2.post3
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
pytest==6.2.2
pytest-mock==3.6.1
Flask-SeaSurf==0.3.0
flask-talisman==0.7.0